# **DML (Manipulation)** ðŸ”

In [ ]:
import os

import duckdb as dd

from src.config import DATABASE_DIR

In [ ]:
# Create a persistent DuckDB database
os.chdir(DATABASE_DIR)
con = dd.connect("duckdb_test.db")

In [ ]:
# con.close()

## **Inserting Rows**

In [ ]:
query = """
    INSERT INTO users
    VALUES (999, 'Charlie Bobby', 45, 'charchar@gmail.com', '2021-01-01 00:00:00'),
    (1000, 'Alice Smith', 35, 'aliceinworderland@gmail.com', '2021-01-01 00:00:00');
"""
con.execute(query)

Query executed successfully

In [17]:
query = """
    INSERT INTO users(id, name, age, email, created_at)
    VALUES (999, 'Charlie Bobby', 45, 'charchar@gmail.com', '2021-01-01 00:00:00'),
    (1000, 'Alice Smith', 35, 'aliceinworderland@gmail.com', '2021-01-01 00:00:00');
"""
con.execute(query)

### **Subquery: Inserting from another table**

In [ ]:
query = """
    INSERT INTO users (id, name, email)
    
    SELECT id, name, email
    FROM archived_users
    WHERE id NOT IN (
        SELECT id
        FROM users
    );
"""

### **Subquery: Inserting from a dataframe**

In [18]:
query = """
    INSERT INTO users FROM dummy_df;
"""

### **Subquery: Inserting from a file**

In [ ]:
file_path = "C:Users/Documents"

query = f"""
    INSERT INTO users FROM "{file_path}/users.parquet";
"""

## **Deleting Rows**

The DELETE statement is used to delete records (rows) in a table. The WHERE clause specifies which record or records that should be deleted. If the WHERE clause is omitted, all records will be deleted.

In [21]:
# Insert into columns in order:
query = """
    DELETE FROM users
    WHERE name = 'Charlie Bobby';
"""
con.execute(query)

### **Subquery: Deleting from another table**

In [ ]:
query = """
    DELETE FROM users
    WHERE id IN (
        SELECT id
        FROM users
        LEFT JOIN activity_log
        ON users.id = activity_log.user_id
        WHERE last_active < DATE('now', '-6 months') OR last_active IS NULL
    );
"""

## **Updating Rows**

The UPDATE statement is used to edit records (rows) in a table. It includes a SET clause that indicates the column to edit and a WHERE clause for specifying the record(s).

In [23]:
# Insert into columns in order:
query = """
    UPDATE users
    SET name = 'Bob Charlie'
    WHERE name = 'Charlie Bobby';
"""
con.execute(query)

### **Subquery: Updating with conditional logic**

In [ ]:
query = """
    UPDATE employees
    SET salary = salary * 1.1
    WHERE id IN (
        SELECT employee_id
        FROM performance
        WHERE rating = 5
    );
"""

### **Subquery: Updating from another table**

Without the second WHERE clause, the UPDATE statement will attempt to update every row in the users table. For rows in users that do not have a corresponding match in the promotions table, the subquery will return NULL.

In [ ]:
query = """
    UPDATE users
    SET discount = (
        SELECT discount
        FROM promotions
        WHERE promotions.user_id = users.id
    )
    WHERE id IN (
        SELECT user_id
        FROM promotions
    );
"""